.hero-description {
  padding: 100px;

  & p {
    padding: 50px 0;
    font-size: 20px;
  }

  max-width: 500px;
}

.btn-schedules {
  background-color: #ea3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;

  & span {
    font-size: 24px;
    font-weight: 600;
  }
}

/* a:hover {
  all: unset;
} */

a {
  display: inline-flex;
}
